html, body {
	background-color: #fff;
	font-family: 'Sentinel', serif;
	margin: 0;
}

.wrap	{
	height: auto;
	overflow: hidden;
}

.header {
	width: 100%;
	height 56px;
	background: white;
}

.header #left {
	float: left;
}

.header #middle {
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.header #right {
	float: right;
}

.main	{
	float: none; /* not needed, just for clarification */
	background: #fff;
	width: auto;
	overflow: hidden;
	height: 100vh;
	margin-top: 114px;
	padding-left: 2em;
	padding-right: 4em;
}

.canvas {

	width: 100%;
	min-height: 661px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	background-color: #fff;
	overflow: scroll;
}

.canvas .fs_image {
	margin-top: 1em;
	border: 1px solid #f4f4f1;
	position: relative;
	margin-top: 0;

}

.normal {
	width: 100%;
	height: auto;
	cursor: -webkit-zoom-in;
}
.expand {
	width: 5949px;
	height: auto;
	cursor: -webkit-zoom-out;
}


.canvas #fullscreen {
		background-color: gray;
		opacity: 1;
		border-radius: 5px;
		width: 2.5em;
		height: 2.5em;
		position: absolute;
		z-index: 1000;
		right: 33%;
		top: 11em;

}

.hiddenCanvas {
	display: none;
	top: 0;
}

.sidebar	{
	width: 24em;
	float:right;
	background: #fff;
	height: 100vh;
	margin-top: 114px;
	right: 0;
	z-index:5000;
}

.sidebar input {
	-moz-border-radius: 3px;
	border-radius: 3px;
	border:solid 1px #E8E7E3;
	background-color: #FBFBFA;
	padding-left: 10px;
	margin-left: 32px;
	height: 32px;
	width: 275px;
	font-size: 10pt;
	font-weight: 400;
	color: black;

}

.sidebar #annotation_trigger {
	margin-top: -27px;
	margin-left: 295px;
	position: absolute;
	-webkit-animation: pulsate 1s ease-out;
	-webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes pulsate {
    0% {-webkit-transform: opacity: 0.0;}
    50% {opacity: 1.0;}
    100% {-webkit-transform: opacity: 0.0;}
}

.sidebar input::-webkit-input-placeholder {
	color: #BAB9B6 !important;
	font-weight: lighter;
}

.sidebar input:focus {
    outline-width: 0;
}


.main,.sidebar {
	min-height: 100px;
}

.clear {
	clear:both;
}

h1 {
    font-size: 72pt;
    font-weight:900;
		line-height: 45px;
}

h2 {
    font-size: 24pt;
    font-weight: bold;
}

p,li {
    font-size: 14pt;
    font-weight: 500;
}
